@{
    ViewData["Title"] = "Manage User";
}

<div class="wrapper">
    <div class="panel panel-hash">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-sm btn-danger" onclick="AddEditUserAccount(0)">Add New</button>
                </div>
                <div class="col-md-6 pull-right">
                    <h5 class="pull-right"><b>&nbsp;User/Employee List</b></h5>
                </div>
            </div>
        </div>
        <div class="panel-body scroll panel-height">
            <table id="tblUserAccount" class="CustomBlueTable" style="width:100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Image</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Phone Number</th>
                        <th>Email</th>
                        <th>Created Date</th>
                        <th>Allocate</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<style>
    .panel-heading {
        padding: 0px 0px 0px 5px;
    }

    .panel-body {
        padding: 5px;
    }

    .h4 {
        margin-top: 1px;
        margin-bottom: 1px;
    }

    img {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 50px;
    }

    img:hover {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }
</style>

<script src="~/js/UserManagement/UserManagement_CRUD.js"></script>
<script src="~/js/UserManagement/UserManagement_Datatable.js"></script>
